<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<nom-application>graine-tapestry</nom-application>

	<application>
		<nom>graine-tapestry</nom>
		<version>164.0.0-SNAPSHOT</version>
	</application>
	<commun-st>
		<titre-application>
			Application de test
		</titre-application>
		<titre-court-application>
			Application de test
		</titre-court-application>
	</commun-st>
	

</configuration>